.row-layout {
    display: flex;
}
.master-view-container {
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;
    gap: 1px;
    overflow: auto;
    height: 100%;
}
.column-layout {
    display: flex;
    flex-direction: column;
}
.group {
    background-color: hsla(var(--ig-surface-500));
    border-color: hsla(var(--ig-gray-300));
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    gap: 24px;
    overflow: hidden;
    position: relative;
    padding: 16px;
}
.list {
    width: 240px;
    height: max-content;
}
.tree {
    min-width: max-content;
    min-height: max-content;
    flex-grow: 1;
    flex-shrink: 0;
}
.avatar::part(base) {
    color: hsla(var(--ig-surface-500));
    background-color: transparent;
}
.icon {
    --size: 24px;
    font-size: 24px;
    width: 24px;
    height: 24px;
}
.category-chart {
    min-width: 200px;
    min-height: 200px;
    flex-grow: 1;
    flex-basis: 0;
}
.view-container {
    overflow: auto;
    z-index: 1;
    right: 0;
    left: 273.999998031124px;
    top: 0;
    position: fixed;
    height: 1170px;
    min-width: 0;
    min-height: 0;
}
