.row-layout {
    display: flex;
}
.login-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.view-container {
    overflow: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    position: absolute;
    width: 600px;
    height: 600px;
    min-width: 0;
    min-height: 0;
    align-self: center;
}
